:root {
  --dark-green: rgb(47, 70, 54);
  --black: #010108ed;
  --white: hsl(180, 100%, 100%);
  --grey: hsla(180, 3%, 86%, 0.906);
  --orange: rgba(234, 91, 19, 0.929);
  --yellow: hwb(57 33% 0% / 0.906);
}
               
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--dark-green);
}

h1 {
  margin-top: 8vh;
  text-align: center;
  margin-bottom: 2vh;
  font-family: 'Pokemon Solid', sans-serif;
  color: var(--orange);
  text-shadow: var(--grey) 3px 3px;
  font-size: 5rem;
}

#pokedex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-green);
}

#search {
  width: 100%;
  text-align: center;
  padding: 0 10px;
}

#pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-green);
  border: solid var(--yellow);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0.1px 0.1px 20px 20px var(--yellow);
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--grey);
}

#search input {
  font-size: 1.5rem;
  outline: none;
  border: solid var(--yellow);
  background-color: var(--grey);
  box-shadow: 0.1px 0.1px 5px 5px var(--yellow);
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
}

#search button {
  font-size: 1.5rem;
  text-align: center;
  margin-left: 10px;
  border: solid var(--orange);
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--dark-green);
  width: auto;
  box-shadow: 0.1px 0.1px 7px 7px var(--orange);
}

#pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 300px;
  padding: 10px;
  background-color: var(--dark-green);
  color: var(--white);
  border-radius: 5px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 1.5rem;
}

#pokemon-image img {
  width: 100%;
  max-width: 400px;
}

#weight, #height {
  align-self: flex-start;
  font-size: 1.5rem;
}

#types {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

#types span {
  padding: 8px;
  border-radius: 8px;
  font-size: 1rem;
}

table {
  border-spacing: 15px;
  width: 100%;
  font-size: 1.5rem;
}

td, th {
  background-color: var(--grey);
  padding: 10px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 5rem;
  }

  #pokedex {
    width: 90%;
    margin-bottom: 5vh;
  }

  label {
    font-size: 2.5rem;
  }

  #search input, #search button {
    font-size: 1.2rem;
    padding: 10px;
  }

  #pokemon-info {
    font-size: 1rem;
  }

  #types {
    font-size: 1.25rem;
  }

  #types span {
    font-size: 0.875rem;
  }

  table {
    font-size: 1rem;
  }

  #weight, #height {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
  #pokedex {
    width: 70%;
  }
}
